files:
    "/etc/nginx/conf.d/default.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
            server {
                listen 80;
                server_name localhost;

                location / {
                    root /var/app/current/build;
                    index index.html;
                    try_files $uri  $uri/ /index.html;
                }
            }