.fullHeight {
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.center-text {
    text-align: center;
}