.msg-preview-date {
    text-align: left
}

.message-field {
    width: 100%;
    height: 100%
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-product {
    color: #0070E0;
    font-size: 0.8em;
}

.buy-product,
.sendBtn:hover {
    cursor: pointer;
}

.empty-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}